<h1>Showing session</h1>

<p>
    User: <%= @sesh.profile.name %>
</p>

<p>
    Highlights: <%= @sesh.highlights %>
</p>

<p>
    Notes: <%= @sesh.feedback %>
</p>

<p>
    Homework: <%= @sesh.homework %>
</p>

